
/*.calc-container {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 10px;
}*/
* {
  box-sizing: border-box;
}

.calc-frame {
   height: 500px;
   width: 400px;
   background-color: aqua;
   padding: 10px;
}

.display-screen {
    width: 400px;
    height: 100px;
    background-color: green;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.calc-button {
  height: 60px;
  background-color: white;
  font-size: 2rem;
  border: 1px solid black;
  color: red;
}
