
/*.calc-container {
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    padding: 10px;
}*/

.calc-frame {
   height: 500px;
   width: 400px;
   display: grid;
   grid-template-columns: auto auto auto;
   background-color: aqua;
   padding: 10px;
}

.display-screen {
    width: 400px;
    height: 100px;
    background-color: green;
}

.calc-buttons > button {
  padding: 20px;
  font-size: 20px;
  text-align: center; 
}
